@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Rose:wght@300;400;500;600;700&display=swap');      

* {
    box-sizing: border-box;
}

:root {
    --azul: #0b3b5c;
    --cinza: #6c6771;
    --vermelho: #e2271b;
    --laranja: #E9511E;
    --azulClaro: #004A87;
    --redrose: 'Red Rose', serif;
    --barlow: 'Barlow', sans-serif; 
}

body, html {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 !important;
}

.stage {
    max-width: 1320px;
    margin: auto;
}

/* MENU*/

.menuStage {
    background-color: var(--azul);
    padding: 0 10%;
}

.menu {
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.logo {
    height: 10vh;
    display: flex;
    align-items: center;
}

.imgLogo {
    height: 80%;
}

.nave {
    margin: auto;
}

.nave a{
    text-decoration: none;
    font-family: var(--barlow);
    font-size: 0.8rem;
    color: white;
    padding: 0 10px;
}

.nave a:hover{
    color: red
}

.redessociais {
    margin: auto;
    font-size: 2rem;
}
.redessociais i {
    color: white !important;
}

@media screen and (max-width: 1024px) {
    .menu {
        display: grid;
        grid-template-columns: 100%;
    }

    .logo {
        justify-self: center;
    }
    
    .nave {
        display: none;
    }
    
    .redessociais {
        display: none;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1300px){
    .nave a{
        font-size: 0.6rem;
    }
}

/* CAROUSEL */
.carousel-inner {
    height: 80vh !important;
}

.carousel-item {
    height: 100%;
}

.hero01 {
    height: 100%;
    background-image: url("imgs/hero.png");
    background-position: center;
    background-size: cover;
    padding: 0 10%;
    margin: auto;
}

.hero01::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero02 {
    height: 100%;
    background-image: url("imgs/hero.png");
    background-position: center;
    background-size: cover;
    padding: 0 10%;
    margin: auto;
}

.hero02::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero03 {
    height: 100%;
    background-image: url("imgs/heroArtigo.png");
    background-position: center;
    background-size: cover;
    padding: 0 10%;
    margin: auto;
}

.hero03::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.conteudoHero {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    width: 100%;
    position: inherit;
    z-index: +12;
}

.titHero {
    font-family: var(--redrose);
    font-size: 3rem;
    padding: 0 !important;
    line-height: 2.8rem;
    width: 60%;
    color: white;
    z-index: 3;
}

.subHero {
    font-family: var(--barlow);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0;
    width: 60%;
    color: white;
    z-index: 3;
}

.btnConheca {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid white !important;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 15px;
    width: 120px;
    margin-top: 20px;
}

.btnConheca:hover {
    color: var(--azul);
    background-color: white;
}

.slide span{
    height: 15px;
} 

@media screen and (max-width: 768px) {
    .titHero {
        font-family: var(--redrose);
        font-size: 2.5rem;
        padding: 0 !important;
        line-height: 2.4rem;
        width: 100%;
    }
    
    .subHero {
        font-family: var(--barlow);
        font-size: 1rem;
        font-weight: 300;
        padding: 0;
        width: 100%;
    }


}


/* SOMOS */

.somos {
    padding: 0 10%;
    background-color: var(--vermelho);
}

.conteudoSomos {
    padding: 5% 0;
}

.secao {
    font-size: 0.7rem;
    color: white;
}

.titulo {
    font-family: var(--redrose);
    color: white;
    font-size: 3rem;
}

p {
    font-family: 'Barlow', sans-serif; 
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.btnSaibaMais {
    font-family: 'Barlow', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    color: white;
    background-color: transparent;
    padding: 0;
}

.btnSaibaMais:hover {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .somos {
        padding: 5% 10%;
    }

    .titulo {
        font-size: 2rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

}

/* ABORDAGEM */

.abordagem {
    padding: 5% 10%;
}

#fluxoCiclico {
    display: grid;
    grid-template:  "ponto1 ponto2 ponto3" 150px
                    "ponto1 ponto5 ponto4" 150px
    ;
    gap: 5px;
}

.conteudoAbordagem > h1 {
    font-family: var(--redrose);
    color: var(--azul);
    z-index: 1;
    font-size: 3rem;
}

.ponto {
    border-radius: 10px;
    color: white;
    font-family: var(--barlow);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ponto h1 {
    font-family: var(--redrose);
    font-size: 1.8rem;
    text-align: center;
}

.ponto img {
    color: white;
    padding-left: 10px;
    cursor: pointer;
}

#ponto1 {
    grid-area: ponto1;
    background-color: var(--azul);
    position: relative;
}

#ponto1 i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
}

#ponto1 h1 {
    align-self: top !important;
}

#ponto2 {
    grid-area: ponto2;
    background-color: var(--cinza);
    position: relative;
}

#ponto2 i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
}

#ponto3 {
    grid-area: ponto3;
    background-color: var(--vermelho);
    position: relative;
}

#ponto3 i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.2rem;
}

#ponto4 {
    grid-area: ponto4;
    background-color: var(--azulClaro);
    position: relative;
}

#ponto4 i {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.2rem;
}


#ponto5 {
    grid-area: ponto5;
    background-color: var(--laranja);
    position: relative;
}

#ponto5 i {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.2rem;
}

.modalAbordagem {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modalAbordagemConteudo {
    height: 50%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
}

#resultAbordagem {
    position: relative;
    padding: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resultAbordagem > i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

#resultAbordagem > h1 {
    font-family: var(--redrose);
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 1024px) {


    #fluxoCiclico {
        grid-template:  "ponto1" 130px
                        "ponto2" 130px
                        "ponto3" 130px
                        "ponto4" 130px
                        "ponto5" 130px;
        grid-template-columns: 1fr;                
    }

    .ponto i {
        display: none;
    }

    .ponto h1 {
        font-family: var(--redrose);
        font-size: 1.3rem;
        text-align: center;
    }

    .conteudoAbordagem > h1 {
        font-family: var(--redrose);
        color: var(--azul);
        z-index: 1;
        font-size: 2rem !important;
    }

    .modalAbordagem {
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }

    .modalAbordagemConteudo {
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }


}

/* Produtos e Serviços */

.produtosServicos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudoProdutosServicos {
    display: grid;
    grid-template:  "bloco01 bloco01 bloco02 bloco02" 250px
                    "bloco03 bloco04 bloco02 bloco02" 250px
                    "bloco03 bloco05 bloco05 bloco06" 250px
                    "bloco07 bloco07 bloco08 bloco08" 250px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1%;
    background-color: rgb(231, 231, 231);
}

.bloco {
    border-radius: 10px;
    padding: 5%;
}

.bloco h1 {
    font-family: var(--redrose);
    font-size: 2rem;
    color: var(--vermelho);
}

.bloco h6 {
    font-family: 'Barlow', sans-serif; 
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
}

.bloco01 {
    grid-area: bloco01;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloco02 {
    grid-area: bloco02;
    background-image: url("imgs/imgLog.png");
    background-size: cover;
    background-position: bottom;
}

.bloco03 {
    grid-area: bloco03;
    background-image: url("imgs/logCaminhao.png");
    background-size: cover;
    background-position: bottom;
}

.bloco04 {
    grid-area: bloco04;
    background-image: url("imgs/logNavio.png");
    background-size: cover;
    background-position: bottom;
}

.bloco05 {
    grid-area: bloco05;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnProdSaiba {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--azul) !important;
    color: var(--azul);
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 15px;
    width: 130px;
    margin-top: 10px;
}

.btnProdSaiba a:link, a:visited {
    text-decoration: none;
}

.btnProdSaiba:hover{
    color: white;
    background-color: var(--azul);
}


.bloco06 {
    grid-area: bloco06;
    background-image: url("imgs/cadeiaLog.png");
    background-size: cover;
    background-position: bottom;
}

.bloco07 {
    grid-area: bloco07;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloco08 {
    grid-area: bloco08;
    background-image: url("imgs/logCadeia.png");
    background-size: cover;
    background-position: bottom;
}

@media screen and (max-width: 1024px) {
    .conteudoProdutosServicos {
        grid-template:  "bloco01" 
                        "bloco02" 250px
                        "bloco05"
                        "bloco07";
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .bloco03, .bloco04, .bloco06, .bloco08 {
        display: none;
    }

    .bloco {
        padding: 10%;
    }
}

/* PRODUTOS */

.produtos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudoProdutos {
    display: grid;
    grid-template:      "prod02 prod02 prod01 prod01" 250px
                        "prod03 prod04 prod04 prod06" 250px
                        "prod05 prod05 prod07 prod06" 250px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 1%;
    background-color:#0b3c5c4c;
}

.produto {
        border-radius: 10px;
        background-color: white;
        padding: 5%;
}

.produto h1 {
    font-family: var(--redrose);
    font-size: 2rem;
    color: var(--azul);
}

.produto h6 {
    font-family: 'Barlow', sans-serif; 
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
}

.prod01 {
    grid-area: prod01;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod02 {
    grid-area: prod02;
    background-image: url("imgs/imagProdEscritorio.png");
    background-size: cover;
    background-position: center;
}

.prod03 {
    grid-area: prod03;
    background-image: url("imgs/imgProsEscritorio01.png");
    background-size: cover;
    background-position: center;
}

.prod04 {
    grid-area: prod04;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod05 {
    grid-area: prod05;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod06 {
    grid-area: prod06;
    background-image: url("imgs/imgProdFamilia.png");
    background-size: cover;
    background-position: center;
}

.prod07 {
    grid-area: prod07;
    background-image: url("imgs/imgProdJustica.png");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px) {
    .conteudoProdutos {
        grid-template:      "prod02" 250px
                            "prod01" 
                            "prod04"
                            "prod05";
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .prod03, .prod06, .prod07 {
        display: none;
    }

    .produto {
        padding: 10%;
    }
}


/* PARALAX */

.paralax {
    height: 80vh;
    background-color: red;
    background-image: url("imgs/fundoParalax.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0 10%;
}

.paralax::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.conteudoParalax {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudoParalax h1 {
    font-family: var(--redrose);
    color: white;
    z-index: 1;
    font-size: 3rem;
}

@media screen and (max-width: 1024px)  {

    .conteudoParalax h1 {
        font-size: 2rem;
        text-align: center;
    }

}

/* TESTEMUNHAIS */

.secTestimonial {
    padding: 0 10%;
}

.testimonial-carousel {
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.testimonial {
    text-align: center;
    padding: 15px;
    margin: 10px;
  }

  .depoimento {
    font-family: var(--barlow);
    font-weight: 300;
    font-size: 1rem;
  }

  .cargoCliente {
    font-family: var(--redrose);
    font-size: 1rem;
    color: var(--azul);
  }

  .empresaCliente {
    font-family: var(--barlow);
    font-size: 0.8rem;
  }

  .slick-prev, .slick-next {
    font-size: 0.8rem; /* Tamanho do ícone */
    color: #333; /* Cor do ícone */
    background-color: transparent; /* Cor de fundo */
    border: none; /* Sem borda */
    width: auto; /* Largura automática */
    height: auto; /* Altura automática */
    top: 50%; /* Posiciona no meio verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centralização exata */
}

.slick-prev {
    position: absolute;
    left: 0; /* Distância da borda esquerda */
}

.slick-next {
    position: absolute;
    right: 0; /* Distância da borda direita */
}

.slick-prev:hover, .slick-next:hover {
    color: #000;
}

@media screen and (max-width: 1024px)  {
    
  .depoimento {
    font-family: var(--barlow);
    font-weight: 300;
    font-size: 1rem;
  }


  .empresaCliente {
    font-family: var(--barlow);
    font-size: 1.2rem;
  }
}

/* ARTIGOS */

.secArtigos {
    padding: 0 10%;
    position: relative;
    background-color: var(--azul);
    color:#fff;
    z-index: 1;
}

.secArtigos::before {
    content:'';
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("imgs/heroArtigo.png") 0 0 no-repeat;
    background-position: center right;
    z-index: -1;
}

.secArtigos::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.artigos {
    display: flex;
}

.artigos div {
    width: 50%;
}

.artigo01 {
    padding: 5% 5% 5% 0%;
}

.artigo02 {
    padding: 5% 0% 5% 5%;
}

.artigos h1 {
    font-family: var(--redrose);
    color: white;
    line-height: 2.3rem;
    font-size: 2rem;
}

.artigos p {
    font-family: 'Barlow', sans-serif; 
    color: white;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
}

.btnLeiaMais {
    font-family: 'Barlow', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid white !important;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 15px;
}

.btnLeiaMais a:link, a:visited {
    text-decoration: none;
}

.btnLeiaMais:hover{
    color: var(--azul);
    background-color: white;
}


@media screen and (max-width: 1024px) {
    .artigos {
        display: block;
    }

    .secArtigos {
        padding: 0 10%;
    }

    .secArtigos::before{
        height: 50%;
        width: 100%;
    }

    .secArtigos::after{
        height: 50%;
        width: 100%;
    }

    .artigos div {
        width: 100%;
        padding: 15% 0;
    }

    .artigos h1 {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
    
}

/* ---------------------------------------SOMOS-------------------------------------- */

/*  SOMOS */
.secSomos {
    height: 600px;
    padding: 0 10%;
    background-image: url("imgs/heroSomos.png");
    background-position: top right;
    background-repeat: calc(no-repeat);
    position: relative;
    z-index: -10;
}

.secSomos::after {
    position: absolute;
    content: " ";
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.conteudoHeroSomos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titHeroSomos {
    width: 100%;
    font-size: 2.5rem;
    color: white;
    z-index: 12;
    font-family: var(--redrose);
}

.heroSomos {
    height: 100%;
}

.heroSomos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 2;
}

/* HISTORIA */
.secHistoria {
    padding: 0% 10%;
}

.conteudoHistoria {
    display: flex;
}

.imgHistoria {
    width: 20%;
}

.imgBrasao {
    height: 200px;
}

.historia {
    display: flex;
    width: 80%;
}

.historia h6 {
    font-family: var(--barlow);
    font-size: 1rem;
    font-weight: 300;
    padding: 0;
    width: 100%;
    color: #000;
}

@media screen and (max-width: 768px) {
    .conteudoHistoria {
        display: block;
    }

    .imgHistoria {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-bottom: 20px;
        width: 100%;
    }
    .historia {
        width: 100%;
    }
}


/* CARLOS */

.secCarlos {
    padding: 0 10%;
}

.conteudoCarlos {
    display: flex;
    padding: 5% 0;
}

.textoCarlos {
    width: 80%;
    padding-right: 20px;
}

.titCarlos {
    font-family: var(--redrose);
    color: var(--azul);
    font-size: 2rem;
    margin-bottom: 20px;
}

.histCarlos {
    font-family: var(--barlow);
    font-size: 1rem;
    font-weight: 300;
    padding: 0;
    width: 100%;

}

.imgCarlos {
    display: flex;
    align-items: center ;
    justify-content: right;
    width: 20%;
}

.fotoCarlos {
    height: 200px;
}

@media screen and (max-width: 768px) {
    .conteudoCarlos {
        display: block;
    }

    .imgCarlos {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-top: 20px;
        width: 100%;
    }

    .fotoCarlos {
        height: 200px;
    }

    .historia {
        width: 100%;
    }

    .textoCarlos {
        width: 100%;
    }
}

/* ICONES */
.secIcones {
    padding: 0 10% 3% 10%;
    margin-top: -60px;
    z-index: 10;
}

.conteudoIcones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    align-items: center;
    justify-content: center;
    gap: 1% 1%;
}

.cartaoIcones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px gray;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: white;
}

.imgIcones {
    height: 80px;
}

.titIcones {
    font-family: var(--redrose);
    text-align: center;
    color: var(--azul);
    font-size: 1.5rem;
}

.descIcones {
    font-family: var(--barlow);
    text-align: center;
    color: var(--azul);
    font-size: 1rem;
}

@media screen and (min-width: 769px) and (max-width: 1300px) {
    .conteudoIcones {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) { 
    .conteudoIcones {
        grid-template-columns: 1fr 1fr;
    }
    .secIcones {
        padding: 0 10% 3% 10%;
        margin-top: -200px;
    }
}

@media screen and (max-width: 480px) {
    .conteudoIcones {
        grid-template-columns: 1fr;
    }
    .secIcones {
        padding: 0 10%;
        margin-top: -100px;
        margin-bottom: 100px;
    }
}


/* ---------------------------------------ARTIGOS-------------------------------------- */

.conteudoPost {
    background-color: white;
    margin: 0 10%;
    margin-top: -100px;
    padding: 80px;
    box-shadow: 0 0 5px gray;
    margin-bottom: 80px;
}

.conteudoPost h1 {
    margin-bottom: 20px;
    font-family: var(--redrose);
}

.conteudoPost p {
    font-family: var(--barlow);
    font-size: 1rem;
    font-weight: 300;
    padding: 0;
    width: 100%;
    color: #000;
}

.autor {
    display: flex;
    align-items: end;
}

@media screen and (max-width: 480px) {
    .conteudoPost {
        background-color: white;
        margin: 0 5%;
        margin-top: -100px;
        padding: 20px;
        box-shadow: 0 0 5px gray;
        margin-bottom: 80px;
    }
    .autor {
        display: block;
        align-items: end;
    }
    
}


/*  POST 01*/
.heroPost01 {
    padding: 0 10%;
    background-image: url("imgs/heroArtigo.png");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*  POST 02 */

.heroPost02 {
    padding: 0 10%;
    background-image: url("imgs/heroArtigo.png");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgArtigo02 {
    width: 100%;
}


/* ---------------------------------------FOOTER-------------------------------------- */

.footer {
    padding: 0 10%;
    background-color: #004a87;
}
.conteudoFooter {
    padding: 3% 0;
}

.footer h6 {
    font-family: var(--barlow);
    font-size: 0.8rem;
    color: white;
}

.copyFooter {
    font-weight: 200;
}

.copyFooter a:link {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .conteudoFooter img {
        height: 70px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-bottom: 60px;
    }
}

/*  WHASTAPP */
.whatsapp {
    height: 50px;
    display: flex;
    justify-content: right;
    font-size: 50px;
    background-color: transparent;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
}

.logoWhatsapp {
    height: 100%;
}

@media screen and (max-width: 480px) {
    .whatsapp {
        display: none;
    }
    
}

/*  MENU MOBILE */

.menuMobile {
    display: none;
}

@media screen and (max-width: 480px) {

    .menuMobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        height: 60px;
        position: fixed;
        bottom: 0;
        width: 100vw;
        background-color: white;
        box-shadow: 0 0 5px gray;
        z-index: 20;
    }

    .menuMobile a{
        text-decoration: none;
        font-size: 1.5rem;
    }

    .menuMobile h6 {
        font-size: 0.6rem;
    }

    .botao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .botao a {
        cursor: pointer;
        color: var(--azul);
    }

    .botao i {
        color: var(--azul);
    }
}